<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

<!-- Page Header -->
<header id="page-header" class="navbar navbar-expand navbar-dark flex-column flex-md-row">
    <div class="navbar-brand">
        <img src="@controllers.routes.AssetsManager.versioned("images/rsrg_logo.png")" width="50" height="50" alt="Clemson RSRG Logo">
        <span class="hidden-sm-down">&nbsp; RESOLVEWebAPI</span>
    </div>
    <ul class="navbar-nav flex-row ml-md-auto">
        <li class="nav-item">
            <a class="nav-link" href="@controllers.routes.HomeController.index()"><i class="fas fa-home fa-fw" aria-hidden="true"></i>&nbsp;Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-bug fa-fw" aria-hidden="true"></i>&nbsp;Test Suite</a>
        </li>
    </ul>
</header>