// htmlErrorProd.scss
// This file extends _errorMain.scss to generate all the CSS required to render
// the error pages in production mode.
@import "../base/_errorMain.scss";
@import "../utils/variables";

/* Main Content-Related CSS */
#page-content {
    min-height: 100vh;
    color: $page-content-text-color-light;
    background-color: $page-content-bg-color-1;
}
