/* General CSS */
html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #fdfdfd !important;
}

/* Main Content-Related CSS */
#page-content {
    position: relative;
    top: 0;
    bottom: 0;
    min-height: calc(100vh);
}