/* General CSS */
html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #fdfdfd !important;
}

/* Header-Related CSS */
#page-header {
    min-height: 80px;
}

#page-header .navbar {
    background-color: #fdfdfd !important;
}

#page-header .nav-link {
    font-size: 0.95rem;
    color: #343a40 !important
}

#page-header .nav-link:hover {
    color: #337ab7 !important;
}

#page-header .navbar-brand {
    color: #343a40 !important;
}

#page-header-top {
    background-color: #f66733 !important;
}

#site-title {
    font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 1.75rem;
    font-weight: 200 !important;
}

/* Main Content-Related CSS */
#page-content {
    position: relative;
    top: 0;
    bottom: 0;
    min-height: calc(100vh - 80px);
}