/*
 * These are the CSS for the RESOLVEWebAPI
 * Created by: Yu-Shan Sun
 * Last Modified: 08/13/2017
 */

/* General CSS */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Leaving space for footer */
    margin-bottom: 60px;
}

/* Header-Related CSS */
#page-header {
    min-height: 60px;
    background-color: #522D80;
}

#page-header .nav-link {
    color: #D4C99E;
}

#page-header .nav-link:hover {
    color: #FFFFFF;
}

#rsrg_logo{
    width: 400px;
    height: 68px;
    display: inline;
    float: left;
    background: url(../images/rsrg.png);
}

#nsf_logo{
    width: 67px;
    height: 68px;
    display: inline;
    float: right;
    background: url(../images/nsf1_orig.gif);
    background-size: 67px;
}

/* Footer-Related CSS */
#page-footer {
    /* Sticky footer */
    position: absolute;
    bottom: 0;
    height: 60px;
    background-color: #3A4958;
    opacity: 0.75;
}

#page-footer-content {
    background-color: #3A4958;
}

#cu_wordmark{
    float: left;
    display: inline;
    background: url(../images/wordmark.png);
}

#cu_wordmark a{
    display: block;
    width: 250px;
    height: 72px;
}

#soc_wordmark{
    float: right;
    display: inline;
    background: url(../images/computing.png);
}

#soc_wordmark a{
    display: block;
    width: 250px;
    height: 64px;
}
