/* General CSS */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Leaving space for footer */
    margin-bottom: 60px;
}

/* Header-Related CSS */
#page-header {
    min-height: 70px;
}

#page-header .navbar {
    min-height: inherit;
    background-color: #3a4958 !important;
}

#page-header .nav-link {
    font-size: 0.95rem;
    color: #d4c99e !important;
}

#page-header .nav-link:hover {
    color: #337ab7 !important;
}

#page-header .navbar-brand:hover {
    color: #337ab7 !important;
}

#site-title {
    font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 1.75rem;
    font-weight: 200 !important;
}

/* Main Content-Related CSS */
#page-content {
    position: relative;
    top: 0;
    bottom: 60px;
    height: calc(100vh - 130px);
}

/* Footer-Related CSS */
#page-footer {
    /* Sticky footer */
    position: absolute;
    bottom: 0;
    height: 60px;
    background-color: #3a4958;
    opacity: 0.75;
}

#page-footer-content {
    background-color: #3a4958;
}