/* General CSS */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Leaving space for footer */
    margin-bottom: 60px;
    background-color: #fdfdfd !important;
}

/* Header-Related CSS */
#page-header {
    min-height: 70px;
}

#page-header .navbar {
    min-height: inherit;
    background-color: #3a4958 !important;
}

#page-header .nav-link {
    font-size: 0.95rem;
    color: #d4c99e !important;
}

#page-header .nav-link:hover {
    color: #337ab7 !important;
}

#page-header .navbar-brand:hover {
    color: #337ab7 !important;
}

#site-title {
    font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 1.75rem;
    font-weight: 200 !important;
}

/* Main Content-Related CSS */
#page-content {
    position: relative;
    top: 0;
    bottom: 80px;
    min-height: calc(100vh - 150px);
}

#page-content a {
    text-decoration: none;
}

#page-sidebar {
    position: relative;
    top: 0;
    bottom: 80px;
    left: 0;
    z-index: 1000;
    padding: 20px;
    overflow-x: hidden; /* No overflow on the x axis */
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

#page-sidebar .nav-link {
    color: #343a40 !important;
}

#page-sidebar .nav-link:hover {
    color: #337ab7 !important;
}

#page-content-right {
    position: relative;
    top: 0;
    bottom: 80px;
    z-index: 1000;
    padding: 20px;
}

/* Sidebar-Page-Related Media Query */
@media (min-width: 768px) {
    /* Set the max-width/height and draw a right border when screen size is md up */
    #page-sidebar {
        max-width: 270px;
        height: calc(100vh - 150px);
    }

    #page-content-right {
        border-left: 1px solid rgba(0,0,0,.1);
    }
}

@media (max-width: 768px) {
    /* Draw a bottom border when it is less than md */
    #page-sidebar {
        border-bottom: 1px solid rgba(0,0,0,.1);
    }
}

/* Footer-Related CSS */
#page-footer {
    /* Sticky footer */
    position: absolute;
    bottom: 0;
    height: 80px;
    color: #fdfdfd !important;
    background-color: #86898c !important;
}

#page-footer .footer-link {
    font-size: 1rem;
    color: #343a40 !important;
    text-decoration: none;
}

#page-footer .footer-link:hover {
    color: #337ab7 !important;
}