@(title: String, codeNum: Int)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        @views.html.includes.html_head(title)

        <!-- Our Own CSS -->
        <link rel="stylesheet" media="screen" href="@controllers.routes.AssetsManager.versioned("stylesheets/htmlErrorDev.css")">
    </head>
    <body>
        @views.html.includes.body_header()

        <!-- Page Header -->
        <header id="page-header" class="d-flex flex-column border-bottom">
            <div id="page-header-top" class="d-inline p-1"></div>
            <nav class="navbar navbar-expand navbar-light flex-column flex-md-row" style="background-color: #fdfdfd;" role="navigation">
                <div class="navbar-brand">
                    <span id="site-title" class="text-center align-bottom">@title</span>
                    <span class="pl-2 text-center text-muted align-bottom"> [ Error @codeNum ]</span>
                </div>
                <ul class="navbar-nav flex-row ml-md-auto">
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="@controllers.routes.HomeController.index()"> Home</a>
                    </li>
                </ul>
            </nav>
        </header>

        <!-- Page Content -->
        <main id="page-content" role="main">
            <div class="container-fluid w-100 py-2 px-5">
                @content
            </div>
        </main>
    </body>
</html>