@(title: String, codeNum: Int)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        @views.html.includes.html_head(title)

        <!-- Our Own CSS -->
        <link rel="stylesheet" media="screen" href="@controllers.routes.AssetsManager.versioned("stylesheets/pages/htmlErrorDev.css")">
    </head>
    <body>
        @views.html.includes.js_libraries()

        <!-- Page Header -->
        <header id="page-header" class="d-flex flex-column border-bottom">
            <nav class="navbar navbar-expand navbar-light flex-column flex-md-row" role="navigation">
                <div class="navbar-brand">
                    <span id="site-title" class="text-center align-bottom">[ Error @codeNum ] @title</span>
                </div>
                <ul class="navbar-nav flex-row ml-md-auto align-items-center text-center">
                    <li class="nav-item">
                        <a class="nav-link" href="@controllers.routes.HomeController.index()"><i class="fas fa-home fa-fw d-none d-sm-inline-flex" aria-hidden="true"></i><span class="d-none d-sm-inline-flex">&nbsp; </span>Home</a>
                    </li>
                </ul>
            </nav>
        </header>

        <!-- Page Content -->
        <main id="page-content" role="main">
            <div class="container-fluid w-100 py-2 px-5">
                @content
            </div>
        </main>
    </body>
</html>