@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <!-- Meta -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <title>@title</title>

        <!-- Favicon -->
        <link rel="icon" type="image/png" href="@controllers.routes.AssetsManager.versioned("images/resolve_logo.png")">

        <!-- CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" media="screen" href="@controllers.routes.AssetsManager.versioned("stylesheets/main.css")">
    </head>
    <body class="bg-light">
        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

        <!-- Page Header -->
        <header id="page-header" class="navbar navbar-expand navbar-dark flex-column flex-md-row">
            <div class="navbar-brand">
                <img src="@controllers.routes.AssetsManager.versioned("images/rsrg_logo.png")" width="50" height="50" alt="Clemson RSRG Logo">
                <span class="hidden-sm-down">&nbsp; RESOLVEWebAPI</span>
            </div>
            <ul class="navbar-nav flex-row ml-md-auto">
                <li class="nav-item">
                    <a class="nav-link" href="@controllers.routes.HomeController.index()"><i class="fas fa-home fa-fw" aria-hidden="true"></i>&nbsp;Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-bug fa-fw" aria-hidden="true"></i>&nbsp;Test Suite</a>
                </li>
            </ul>
        </header>

        <!-- Container Block -->
        <div class="container-fluid w-100 px-5">
            <!-- Page Content -->
            <div id="page-content" class="card py-0">
                @content
            </div>
        </div>

        <!-- Page Footer -->
        <footer id="page-footer" class="footer w-100 pt-2">
            <div id="page-footer-content" class="d-flex flex-column">
                <span class="text-light text-center">This research is funded in part by NSF grants DUE-0633506, DMS-0701187, CCF-0811748, DUE-1022941, and CCF-1161916.</span>
            </div>
        </footer>
    </body>
</html>