@(message: String)

@main("RSRG: RESOLVE Web API") {
    <main>
        <div class="container">
            <section id="content">
                <article>
                    <div style="text-align: center">
                        <h1>RESOLVE Compiler Test Suite</h1>
                    </div>
                    <br>
                    <p>
                    @message
                    </p>
                    <br>
                </article>
            </section>
        </div>
    </main>
}